html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../images/broken.png"), linear-gradient(thistle, white);
/*    background: thistle;
    background: linear-gradient(thistle, white);*/
}

.container {
	margin-top:4%;
}

.button {
	text-align: right;
	margin:10px;
}

.hidden {
	visibility: hidden;
	display:none;
}





